.cabecalho_menu-hambuguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/menu.svg");
    display: inline-block;
}

.cabecalho{
    background-color: var(--cor-cabecalho);
    padding: 1em;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem, .container__frase {
    padding: 1em;
}

.container__titulo, .container__frase{
    display: none;
}
